.pagination {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  &__page {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }

    &-active {
      background-color: #dcedd0;
    }
  }
}
